saves
logs
*.log
journeymap
local
.mixin.out
crash-reports
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
usercache.json
minecraftinstance.json
backups
server_pack.zip
server_pack
.curseclient
emojiful
servers.dat
servers.dat_old
config/environmental/core/components/frames/frames.json
config/environmental/core/components/modifiers/modifiers.json
config/environmental/core/components/panels/panels.json
config/environmental/tech/void_miner/void_miner.json