saves
logs
*.log
journeymap
local
.mixin.out
crash-reports
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
usercache.json
minecraftinstance.json
backups
server_pack.zip
server_pack